* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

#challengeForm {width: 100%; border: 4px dashed #000000;}
#chatForm { width: 100%; border: 4px dashed #000000;}
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messages { margin-bottom: 40px }
#messages {height:200px; width:100%;}
#messages {overflow:hidden; overflow-y:scroll;}


#challengeSentenceId {

    color: #2f5687;
    font-weight: bold;
    font-size: 32px;
}

#challengeSentenceDiv {
    border: 4px dashed #bcbcbc;

}

#challengeMessageDiv {
    border: 4px dashed #bcbcbc;
    margin-bottom: 5px;
}

#chatMessageDiv {
    border: 4px dashed #bcbcbc;
    margin-bottom: 5px;
}

#challengeMessages {
    height:200px; width:100%;
    overflow:hidden; overflow-y:scroll;
}

#chatMessages {
    height:200px; width:100%;
    overflow:hidden; overflow-y:scroll;
}